img.image1{
    margin-top: 3rem;
    margin-right: 30rem;
}

.details{
    text-align: left;
   margin-right: 5rem;
}

.good_display{
    display: inline-block;
}

/*############## modile view #######################*/

@media screen and (max-width: 680px) {
    img.image1{
        margin-top: 4rem;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    
    .details{
        text-align: left;
       margin-left: 3rem;
    }
    
}