body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    margin-top: 6%;
  }

  .mycontainer{
    margin-bottom: -5%;
  }
  .container h1{
    color: #045f16;;
  }
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
  }

select.selected{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 7px;
  background: #f1f1f1;
  border: none;
}

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
button.adminlogin{
  background-color: #045f16;
  padding: 10px;
  border: none;
  border-radius: 7px;
  margin-left: 12%;
  color: #FFF;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: -3%;
}

  /* Set a style for the submit button */
  .registerbtn {
    background-color: #045f16;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  input[type=submit].add_animal{
    background-color: #045f16;
    color: #f1f5f9;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-right: 1%;
    width: 7%;
}

  .registerbtn:hover {
    opacity: 1;
  }
  .error {color: #FF0000;}
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  textarea.textarea{
    width: 100%;
    padding: 25px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=file]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
  }
  
  input[type=submit]{
    width: 100%;
    padding: 15px;
    color: #FFF;
    background-color: #045f16;
    border: none;
    border-radius: 7px;
  }
  input[type=submit].applybn{
    background-color:#045f16;
    width: 8%;
    color: #f1f5f9;
    font-weight: 400;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-right: 1%;
    margin-top: -3%;
  }


  button.applybn{
    background-color: #045f16;
    color: #f1f5f9;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-right: 1%;
    margin-top: -3%;
}

button.cancel{
    color:black;
    font-weight: 600;
    padding: 7px;
    border-radius: 7px;
    border-color: #045f16;
}

span.message{
  color: #FF0000;
  font-weight: 600;
  font-style: italic;
  margin-left: 35rem;
}
div.form{
  color: red;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
  @media screen and (max-width: 680px) {
    button.adminlogin{
      margin-left: 80%;
      margin-bottom: 1%;
    }
    .mycontainer{
      margin-bottom: -10%;
    }

    button.applybn{
      margin-top: -10%;
  }
  
  button.cancel{
    margin-top: -10%;
  }
  
    
  }