.vacancies_h1 h1{
    color: green;
    margin-left: 6%;
    margin-top: 2%;
    font-weight: 700;
}
.vacancies_h1 p{
    margin-left: 6%;
}

div.apply{
    margin-right: 20%;
    text-align: left; 
}

div.jobApply{
    padding-bottom: 5%;
}
.jobApply h2{
    color: #045f16;
    text-align: left;
    font-weight: 500;
    margin-top: 4%;
}
.jobApply p{
    text-align:left;
    font-weight: 200;
}
.jobApply p.shift{
    margin-bottom: 10%;
}
a.applybutton{ 
    color: #fff;
    background-color:  #045f16;
    padding: 5px 10px 5px 10px;
    font-size: larger;
    font-weight: 400;
    border:none;
    border-radius: 7%;
    margin-left: 80%;
    text-decoration: none;
}

div.jobApply{
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(106, 108, 109);
    
}

@media screen and (max-width: 680px) {
    div.apply{
        margin-left: 10%;
        margin-top: 12%;
    }

    .jobApply2{
        margin-top: 14%;
    }

}